html, body {
  height: 100%;
}

body {
  font: 62.5%/1.4 'Roboto', sans-serif;
}

h1 {
  font-size: 4em; // 40px
}

h2 {
  font-size: 3.6em; // 36px
}

h3 {
  font-size: 3.2em; // 32px
}

p, li {
  font-size: 1.6em; // 16px
}

button {
  border: 0;
  color: #ffffff;
  font-size: 20px;
  background: $light-primary-color;
  margin: 7px 0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background: $primary-color;
    text-decoration: none;
  }
}

