.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0;

  header {
    background-color: $primary-color;
    color: #fff;
  }

  nav {

  }

  footer {
    width: 100%;
    background-color: $primary-color;
    padding: 15px 0;

    position: absolute;
    bottom: 0;
    left: 0;
  }

  main {
    color: $secondary-text-color;
  }

  .section {
    width: 960px;
    margin: 0 auto;
    padding: 15px 0;
  }
}