<template name="room">
    <div class="section roles">
        <p>Your status: {{ status }}</p>

        <p>Choose your role</p>
        <ul>
            <li>
                <button class="roles__btn" data-player="1">Player 1</button>
            </li>
            <li>
                <button class="roles__btn" data-player="2">Player 2</button>
            </li>
            <li>
                <button class="roles__btn" data-player="3">Player 3</button>
            </li>
            <li>
                <button class="roles__btn" data-player="0">Spectator</button>
            </li>
        </ul>
    </div>
</template>