<template name="room">
    <div class="section">
        <!--TO-DO: default: guest, otherwise player/spectator -->
        <p>Your status: {{ visitor.status }}</p>

        <p>Choose your role</p>
        <ul>
            <li>
                <button>Player 1</button>
            </li>
            <li>
                <button>Player 2</button>
            </li>
            <li>
                <button>Player 3</button>
            </li>
            <li>
                <button>Spectator</button>
            </li>
        </ul>
    </div>
</template>